*{
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
}

/* url('images/shutterstock_1154073754.png'); */
.img-gallery {
    top: 20px;
    width: 1118px;
    height: 352px;
}

.img-gallery img {
    position: absolute;
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.gallery-btn {
    border: 0.5px solid var(--pure-white);
    background-color: white;
    opacity: 80%;
    border-radius: 3px;
    position: absolute;
    top: 15em;
    right: 20px;
    width: 242px;
    height: 48px;
    color: var(--blue);
    font-size: 16px;
    font-weight: 600;
}

.gallery-btn:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

#res-title {
    color: var(--blue);
    font-size: 30px;
    font-weight: 600;
}

ul {
    list-style: none;
    margin-left: 0;
}

.menu-btn {
    border: 0.2px transparent;
    padding: 15px 30px;
    background-color: transparent;
    font-size: 18px;
    color: #192F60;
    font-weight: 600;
    margin-right: 80px;
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: .5px solid rgba(25, 47, 96, 0.3);
}

.overview-btn:hover, .contact-btn:hover {
    border-bottom: 2px solid;
    border-color: var(--orange);
    box-shadow: none;
    cursor: pointer;
}

#menu-order {
    width: 223px;
    height: 50px;
    padding: 10px;
    border: 0.2px solid transparent;
    border-radius: 6px;
    background-color: var(--orange);
    color: var(--pure-white);
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
}

#menu-order:hover {
    cursor: pointer;
    background-color: rgb(202, 12, 12);
}

section h4 {
    font-size: 22px;
    font-weight: 600;
    color: #192F60;
    margin: 20px auto 20px 20px;
}

.overview, .contact {
    margin: 50px auto 20px 20px;
    font-family: 'Poppins', sans-serif;
}

h5 {
    font-size: 18px;
    color: #192F60;
}

.overview p, .contact p {
    font-size: 16px;
    color: #192F60;
}

#image-gallery .modal-dialog {
    margin: 0 auto;
    padding: 0;
}

#image-gallery .modal-content {
    background-color: transparent;
    border: none;
    width: 100%;
}

#image-gallery .modal-header {
    border: none;
}

#image-gallery .btn-close {
    background-color: white;
}
.modal {
    background-color: rgba(76, 75, 75, 0.8);
}

@media screen and (max-width: 800px) {
    .img-gallery {
        width: 100%;
        height: 250px;
    }
    .gallery-btn {
        bottom: 10px;
        top: auto;
        width: 200px;
        font-size: 14px;
    }
    #res-title {
        font-size: 20px;
        font-weight: bold;
    }
    .menu-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .menu-btn {
        padding: 10px;
        margin-right: 50px;
        font-weight: 600;
        font-size: 16px;
    }
    section h4 {
        font-size: 18px;
        margin: 10px;
    }
    .table {
        width: 100%;
    }
    #menu-order {
        width: 120px;
        font-size: 16px;
    }
   
}
