@media screen and (min-width: 768px) {
    .h1 {
        font-size: 28px;
        top: 45%;
        left: 10%;
    }
    
    #logo {
        width: 90px;
        height: 90px;
        font-size: 42px;
    }

    section h2 {
        font-size: 24px;
        margin: 35px 30px 0;
    }
    section p {
        margin: 14px 30px;
        font-size: 14px;
    }
    .content-section {
        margin-left: 0;
        width: 100%;
    }
    .filter-section {
        width: 100%;
    }

}

/* ----------------------------------------------- */

@media screen and (min-width: 300px) and (max-width: 512px) {
    #index-navbar {
        display: none;
    }

    .h1 {
        font-size: 24px;
    }

    #hero-select {
        left: 10%;
    }

    #res-logo {
        left: .5em;
    }

    #cuisine-header {
        justify-content: center;
    }

    .cuisine-h1{
        margin: 15px auto;
        padding: 12px;
    }

    .filter-section {
        width: 100%;
    }

    #filter-btn {
        margin-top: 10px;
    }

    .content-section {
        margin-left: 0;
        width: 100%;
    }
    .card-content img {
        width: 100px;
        height: 120px;
        margin: 0;
        padding: 0;
    }

    .img-gallery {
        width: 98%;
        margin: 0;
        height: 300px;
    }

    .menu-btn {
        margin: 0;
    }

    .menu-wrapper ul {
        padding-left: 5px;
    }
    #menu-order {
        width: auto;
        font-size: 16px;
        padding: 5px 2px;
    }

    .modal-body, .order-content p  {
        padding: 5px;
        margin: 0;
    }
    .modal-content {
        width: 100%;
    }
    .order-content{
        width: 75%;
    }
    .modal-footer h2 {
        margin: 0;
    }
}
    