:root {
    --pure-white: #FFFFFF;
    --white-1: #FBFBFB;
    --white-2: #9D0E0E00;
    --blue: #192F60;
    --grey-1: #8C96AB;
    --grey-2: #636F88;
    --grey-3: #74819E;
    --dark-grey: #707070;
    --dark-brown: #4F0707;
    --red: #EB2929;
    --beige: #00000029;
}

.modal-content {
    width: 38em;
}

.veg {
    width: 16px;
    height: 16px;
    margin-bottom: 10px;
}

.circle {
    width: 8px;
    height: 8px;
    transform: translate(50%, 50%);
    background-color: green;
    border-radius: 50%;
}

.nveg {
    border-color: red;
    width: 8px;
    height: 8px;
    transform: translate(50%, 50%);
    background-color: red;
    border-radius: 50%;
}

.order-img {
    width: 6em;
    height: 6em;
    padding: 0;
    background-color: var(--blue);
    position: relative;
}

.order-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.order-content h4 {
    color: #192F60;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}

.order-content h5 {
    color: #192F60;
    font-size: 16px;
    font-weight: 600;
}

.order-content p {
    font-size: 15px;
    margin-left: 10px;
    padding-right: 15px;
    color: var(--grey-2);
}

.add {
    font-size: 14px;
    position: relative;
    transform: translate(-15%, 300%);
    padding: 3px 15px;
    background-color: rgb(9, 155, 9);
    color: white;
}

.sub {
    background-color: red;
    color: white;
}

.modal-footer {
    background-color:rgba(140, 150, 171, 0.3);
    height: 80px;
}

.modal-footer h2 {
    margin: 5px auto;
}

#pay-btn {
    background-color: #EB2929;
    color: #FFFFFF;
    padding: 10px 20px;
    border: .5px transparent;
    border-radius: 8px;
}

.modal-body .form-label {
    color: #192F60;
    font-size: 16px;
    margin-bottom: 10px;
}

.modal-body .form-control {
    font-size: 16px;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
     .modal {
        --bs-modal-width: 100%
    }
    
    .modal-content {
        width: 100%;
    }
    .modal-title {
        font-size: 20px;
        font-weight: 600;
    }
    .menu-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .order-content {
        width: 70%;
    }
    .order-content h4 {
        font-size: 16px;
    }
    .order-content h5 {
        font-size: 14px;
    }
    .order-content p {
        font-size: 13px;
    }
    .order-img {
        width: 30%;
    }
    .add {
        width: 20px;
        text-align: center;
    }
    .subtotal {
        font-size: 18px;
    }
 
}